@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');

*{
  padding: 0;
  margin: 0;
}

body{
  background-color: rgb(179, 179, 179);
}

.container{
  /*border: 1px solid red;*/
  width: 80%;
  margin: auto;
  margin-top: 20px;
  background-color: white;
}
header{
  background-color: #1837ce;
}
header h1{
  font-family: 'PT Serif', serif;
  color: #E27DEB;
  font-weight: 200;
  text-align: center;
  font-size: 4em;

  padding: 50px;
}

#imagem1{
  background-color: red;
  height: 200px;
  margin: 10px 0px;

}

p{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 1.1em;
}

section{
  /*border: 1px solid green;*/
  width: 95%;
  margin: auto;
}

article{
  /*border: 1px solid red;*/
  width: 95%;
  margin: 30px auto;
}
article p{
  margin-bottom: 10px;
}

#primary-img{
  /*border: 1px solid red;*/
  /*height: 25vh;*/
  margin: 30px auto;
  height: 300px;
  background-color: green;
}

#circulo-amarelo{
  background-color: yellow;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  transform: translate(80px, -520px);
}
#circulo-beje{
  background-color: rgb(180, 180, 3);
  height: 500px;
  width: 500px;
  border-radius: 50%;
  transform: translate(100px, 0px);
}


#secondary-div{
  /*border: 1px solid red;*/
  /*height: 25vh;*/
  margin: 30px auto;
  padding: 50px 0px;
}


.numeros, .parcerias{
  margin-top: 50px;
}
.numeros h1, .parcerias h1{
  font-family: 'Damion', cursive;
  text-align: center;
  font-size: 4em;
}

.parcerias{
  padding-bottom: 40px;
}